* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

a {
	text-decoration: none;
}

.homeContainer {
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 70px 30px;
	grid-template-areas:
		'arriba'
		'paginas'
		'contenido';
	transition: var(--transition) ease all;
}

/* Seccion arrriba----------------------------------------------------------------------------------------------------------- */
.arriba {
	width: 99%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-area: arriba;
    position: fixed;
	top: 0;
	z-index: 1000;
}

.homeContainer .contenedorLogo {
	height: 60px;
}

.homeContainer .logo::selection {
	background-color: rgb(200, 200, 200);
}

.homeContainer .arriba .logo {
	height: 100%;
}

/* Barra de busqueda */
.homeContainer   .baraBusqueda {
	position: relative;
	width: 700px;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(100, 100, 100, 0.1);
}

.homeContainer   .baraBusquedaactivada {
	border-radius: 20px 20px 0px 0px;
	box-shadow: none;
}

.homeContainer   .baraBusqueda .lupa {
	height: 100%;
}

.homeContainer .baraBusqueda .input {
	outline: none;
	border: none;
	height: 80%;
	width: 90%;
	font-size: 25px;
	font-weight: normal;
	margin-left: 2px;
	background-color: inherit;
}

.homeContainer  .baraBusqueda .input::placeholder {
	text-transform: none;
	font-size: 25px;
	font-weight: normal;
}

.homeContainer .arriba .contenedorBotonLogin {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.homeContainer .switch {
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	outline: none;
	margin-right: 20px;
	width: 60px;
	transition: var(--transition) ease all;
}

.homeContainer .switch span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	background: none;
}

.homeContainer .switch .sol {
	color: #000;
	margin-top: 4px;
}

.homeContainer .switch .luna {
	color: #fff;
	margin-top: 4px;
}

.homeContainer .switch::after {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	position: absolute;
	background: #dadada;
	top: -0.1px;
	left: -1px;
	right: unset;
	border-radius: 100px;
	transition: var(--transition) ease all;
}

.homeContainer .switch.active {
	background: rgb(255, 255, 255);
}

.homeContainer .switch.active::after {
	right: 0;
	left: unset;
}

.homeContainer .arriba .fa-user-circle {
	font-size: 40px;
	color: #343d5b;
	transition: var(--transition) ease all;
}

/* seccion navigacion------------------------------------------------------------------- */
.paginas {
	grid-area: paginas;
	display: flex;
	flex-flow: row;
	align-self: flex-end;
	width: 99%;
}

.paginas .elementoNav {
	background-color: #dbdbde;
	font-size: 18px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	width: 100%;
	text-decoration: none;
}

.paginas .elementoNav:hover {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
	cursor: pointer;
}


.analysis {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
}

/* Contenido */
.contenido {
	width: 90%;
	position: absolute;
	top: 110px;
	display: grid;
	grid-template-columns: 20% 80%;
    grid-template-areas: 'tipoAnalisis    tipoAnalisis'
                          'titulo         titulo'
                          'resultado      resultado'
                          'grafica        grafica';
	align-items: center;
	justify-items: center;
}

/* Menu tipo de analysis */
.menuAnalysisContenedor {
	grid-area: tipoAnalisis;
	display: flex;
	flex-flow: row;
	text-align: center;
	width: 50%;
}

.menuAnalysisContenedor .menuAnalysis {
	background-color: #dbdbde;
	font-size: 18px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	width: 100%;
	text-decoration: none;
}

.menuAnalysisContenedor .menuAnalysis:hover {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
	cursor: pointer;
}

.menuAvrageValue {
    background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
}

/* Titulo */
.tituloDeSeccionContenedor {
	grid-area: titulo;
	color: #000;
    font-size: 50px;
	margin-top: 15px;
}

/* Resultados */
.resultado {
	grid-area: resultado;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.resultado div {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #7e7e7e;
}

.resultado div b {
	font-size: 22px;
	color: #000 !important;
}


/* Grafica */
.contenedorGraficaIntrinsicValue {
    grid-area: grafica;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 70%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.contenedorLeyendaGrafica {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.leyendaCentral {
    margin-left: 15px;
    margin-right: 15px;
}

.iconoOvervalued {
    color: rgba(137,137,137);
}

.iconoIntrinsicValue {
    color: rgb(0, 0, 0);
}

.iconoUnderValued {
    color: rgb(68,136,238);
}


.contenedorGraficaPrecio {
    grid-area: grafica;
    margin-top: 15px;
    width: 100%;
    padding: 10px;
}

.contenedorFechasAbajo {
	width: 100%;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
}


/* Tooltip */
.tooltipGraficaPrincipalDesign {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px 20px;
	border-radius: 15px;
	opacity: 1; 
	position: absolute;
	transition: all 0.1s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


.tooltipGraficaPrincipalDesign .tooltipul {
	margin: 0;
	list-style: none;
	padding: 0;
	text-align: center;
	font-size: 17px;
	font-family: 'Poppins';
	color: #fff;
	font-weight: bold;
}

.tooltipGraficaPrincipalDesign .textoPrecio {
	text-align: left;
	text-transform: none;
	font-size: 15px;
	font-family: 'Poppins';
	font-weight: 500;
}

.tooltipGraficaPrincipalDesign .textoCambio {
	text-align: left;
	text-transform: none;
	font-size: 15px;
	font-family: 'Poppins';
	font-weight: 500;
}


