@font-face {
	font-family: 'Poppins';
	src: url('paquetesDescargados/Poppins/Poppins-Light.ttf') format('woff2');
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}



a {
	text-decoration: none;
}

/* velocidad de transicion dark/light*/

:root {
	--transition: 0.3s;
}

.positivo {
    color: #188038;
}

.negativo {
    color: #d93025;
}

.neutro {
	color: #666666;
}


/* Seccion de prerecarga------------ */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #000000;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disapear {
	animation: vanish 1.5s forwards;
}

@keyframes vanish {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

/* Contenedor del home --------------------------------------------------------------------------------------------------------------- */

.body {
	overflow: hidden;
}

.homeContainer {
	height: 90vh;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 5% 9% 86%;
	grid-template-areas:
		'arriba'
		'indices'
		'main';
	background-color: rgb(255, 252, 255);
	transition: var(--transition) ease all;
	overflow: hidden;
}

/* Secion de arriba ----------------------------------------------------------------------------- */

.homeContainer .arriba {
	grid-area: arriba;
	width: 99%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homeContainer .contenedorLogo {
	height: 60px;
}

.homeContainer .logo::selection{ 
	background-color: rgb(200, 200, 200); 
}

.homeContainer .arriba .logo {
	height: 100%;
}

.homeContainer .arriba .contenedorBotonLogin {
	height: 100%;
	display: flex;
	align-items: center;
}

.homeContainer .switch {
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	outline: none;
	margin-right: 20px;
	width: 60px;
	transition: var(--transition) ease all;
}

.homeContainer .switch span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	background: none;
}

.homeContainer .switch .sol {
	color: #000;
}

.homeContainer .switch .luna {
	color: #fff;
}

.homeContainer .switch::after {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	position: absolute;
	background: #dadada;
	top: -0.5px;
	left: -1px;
	right: unset;
	border-radius: 100px;
	transition: var(--transition) ease all;
}

.homeContainer .switch.active {
	background: rgb(255, 255, 255);
}

.homeContainer .switch.active::after {
	right: 0;
	left: unset;
}

.homeContainer .arriba .contenedorLogin {
	font-size: 45px;
	height: 100%;
	display: flex;
	align-items: center;
	color: #343d5b;
	transition: var(--transition) ease all;
}

/* Secion de indices ----------------------------------------------------------------------------- */

.homeContainer .indices {
	position: relative;
	overflow: hidden;
	grid-area: indices;
	background-color: rgb(255, 255, 255);
	height: 100%;
	width: 100%;
	max-width: calc((300px * 14) / 2);
	cursor: context-menu;
	display: flex;
	align-items: center;
	transition: var(--transition) ease all;
}

.indices::after,
.indices::before {
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: '';
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}
.indices::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.indices::before {
	left: 0;
	top: 0;
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.indices .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 40s linear infinite;
	display: flex;
	align-items: center;
	height: 55px;
	width: calc(300px * 14);
}

/* Cada caja de indice */

.indices .indice {
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr;
	grid-template-rows: 35% 40% 20%;
	grid-template-areas:
		'Indice grafica grafica'
		'valor grafica grafica'
		'cambio grafica grafica';
	height: 100%;
	width: 300px;
	margin: 0 5px 0 5px;
	padding: 10px 15px 8px 25px;
	box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.25);
	border: 0.5px solid rgb(236, 235, 235);
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
	grid-gap: 1px;
	transition: 1s;
	transition: var(--transition) ease all;
}

.indices .indice:hover {
	transform: scale(1.15);
	margin: 0px 20px;
}

.indice .contenedorNombre {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	grid-area: Indice;
}

.Nombre {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: #222831;
	transition: var(--transition) ease all;
}

.indice .contenedorValor {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: valor;
}

.Valor {
	font-size: 13px;
	color: #000;
	font-weight: 700;
	transition: var(--transition) ease all;
}

.indice .contenedorCambio {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: cambio;
}

.Cambio {
	position: relative;
	top: 2px;
	font-size: 11px;
	transition: var(--transition) ease all;
}




.indice .contenedorGrafica {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: grafica;
	width: 112px;
}

.Grafica {
	width: 100%;
	height: 100%;
}

/* Secion de contenido ----------------------------------------------------------------------------- */

.homeContainer .contenido {
	width: 70%;
	height: 100%;
	max-width: 1300px;
	max-height: 1000px;
	display: flex;
	flex-flow: column;
	align-items: center;
	grid-area: main;
}

.homeContainer .contenido .Titulado {
	width: 100%;
}

.homeContainer .contenido .Titulado .titulo {
	text-align: center;
	text-transform: lowercase;
	font-size: 150px;
	background: -webkit-linear-gradient(153deg, #7fb1b1, #4d4d4d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: var(--transition) ease all;
}

.homeContainer .contenido .Titulado .subTitulo {
	position: relative;
	text-align: center;
	text-transform: lowercase;
	font-size: 25px;
	top: -55px;
	margin-left: 65%;
	width: 100px;
	background: -webkit-linear-gradient(100deg, #666666, #666666);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: var(--transition) ease all;
}

.homeContainer .contenido .baraBusqueda {
	position: relative;
	width: 700px;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(100, 100, 100, 0.1);
}

.homeContainer .contenido .baraBusquedaactivada {
	border-radius: 20px 20px 0px 0px;
	box-shadow: none;
}

.homeContainer .contenido .baraBusqueda .lupa {
	height: 100%;
}

.homeContainer .contenido .baraBusqueda .input {
	outline: none;
	border: none;
	height: 80%;
	width: 90%;
	font-size: 25px;
	font-weight: normal;
	margin-left: 2px;
	background-color: inherit;
}

.homeContainer .contenido .baraBusqueda .input::placeholder {
	text-transform: none;
	font-size: 25px;
	font-weight: normal;
}

/* Caja conteneiendo opciones autocomplete*/
.autocomplete-items {
	position: absolute;
	border: 1px solid rgba(100, 100, 100, 0.1);
	border-top: none; 
	border-bottom: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: -0.25%;
	right: -0.25%;
	border-radius: 20px;
}

/* Cada elemento individual de opciones */
.autocomplete-items div {
	padding: 10px 7%;
	cursor: pointer;
	background-color: #ffffff; 
}

.autocomplete-items div:last-child {
	border-radius: 0px 0px 20px 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9; 
}



.homeContainer .contenido .widgetsAcciones {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 980px;
	margin-top: 30px;
}

.homeContainer .contenido .widgetsAcciones .widget {
	height: 210px;
	width: 220px;
	border-radius: 30px;
	padding: 0px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	grid-template-areas:
		'identidad   logo'
		'precios      puntuacion';
	transition: 1s;
	background-color: rgb(255, 255, 255);
	margin: 10px;
	transition: var(--transition) ease all;
}

/* Animacion de cajas en hover general */

.homeContainer .contenido .widgetsAcciones .widget:hover {
	transform: scale(1.15);
	margin: 0px 20px;
}

.homeContainer .widget .identidad {
	grid-area: identidad;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.homeContainer .widget .identidad .ticker {
	font-weight: 1000;
	color: #171010;
	font-size: 25px;
	transition: var(--transition) ease all;
}

.homeContainer .widget .identidad .nombre {
	color: #423f3e;
	font-size: 10px;
	transition: var(--transition) ease all;
}

.homeContainer .widget .precios {
	grid-area: precios;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.homeContainer .widget .precios .precio {
	color: #232323;
	font-size: 20px;
	transition: var(--transition) ease all;
}

.homeContainer .widget .precios .cambio {
	display: flex;
	flex-flow: column;
	font-size: 17px;
	transition: var(--transition) ease all;
}

.homeContainer .widget .precios .cambio .cambioNominal {
	margin-left: 0px;
}


.homeContainer .widget .precios .cambio .cambioPorcentual {
	margin-left: 0px;
}


.homeContainer .widget .contenedorImagen {
	grid-area: logo;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeContainer .widget .contenedorImagen .imagen {
	width: 80%;
}

.homeContainer .widget .contenedorIndicador {
	grid-area: puntuacion;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.homeContainer .widget .contenedorIndicador .contenedorGraficaWidget {
	width: 90%;
}

.homeContainer .widget .contenedorIndicador .puntuacion {
	position: absolute;
	font-size: 20px;
	font-weight: 600;
	color: rgb(30, 30, 30);
	transition: var(--transition) ease all;
}

/* Modo Dark -----------------------------------------------------------------------------------------------------------------------------------------------------------*/

body.dark .homeContainer {
	background-color: #222020;
	transition: var(--transition) ease all;
}

body.dark .homeContainer .arriba .logo {
	filter: invert(98%) sepia(0%) saturate(7500%) hue-rotate(264deg) brightness(103%) contrast(100%);
}

body.dark .homeContainer .arriba .contenedorLogin {
	color: #dadada;
}

body.dark .homeContainer .indices {
	background-color: #222020;
}

body.dark .indices::before,
body.dark .indices::after {
	background: none;
	width: 0;
}

body.dark .indices .indice {
	background-color: rgb(49, 49, 49);
	box-shadow: none;
	border: none;
}

body.dark .Nombre {
	color: #fff;
}

body.dark .Valor {
	font-size: 13px;
	color: #eeeeee;
	font-weight: 400;
}

body.dark .Cambio.positivo {
	font-size: 11px;
	transition: var(--transition) ease all;
	background-color: #188038;
	border-radius: 10px;
	padding: 0px 5px;
	color: #fff;
}

body.dark .Cambio.Cambio.negativo {
	font-size: 11px;
	transition: var(--transition) ease all;
	background-color: #d93025;
	border-radius: 10px;
	padding: 0px 5px;
	color: #fff;
}

body.dark .homeContainer .contenido .Titulado .titulo {
	background: -webkit-linear-gradient(153deg, #fff, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body.dark .homeContainer .contenido .Titulado .subTitulo {
	background: -webkit-linear-gradient(100deg, #fff, #fff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

body.dark .homeContainer .contenido .baraBusqueda {
	background-color: rgb(59, 59, 59);
	box-shadow: none;
	border: none;
}

body.dark .homeContainer .contenido .baraBusqueda .input {
	color: rgb(195, 195, 195);
}

body.dark .homeContainer .contenido .baraBusqueda .input::placeholder {
	color: rgb(107, 107, 107);
}

body.dark .homeContainer .contenido .widgetsAcciones .widget {
	box-shadow: none;
	background-color: rgb(49, 49, 49);
}

body.dark .homeContainer .widget .identidad .ticker {
	color: #fff;
}

body.dark .homeContainer .widget .identidad .nombre {
	color: #eeeeee;
}

body.dark .homeContainer .widget .precios .precio {
	color: #eeeeee;
}

body.dark .homeContainer .widget .precios .cambio {
	color: rgb(73, 199, 77);
}

body.dark .homeContainer .widget .contenedorIndicador .puntuacion {
	color: #eeeeee;
}

/* Modificacion para compus abjao de una altura de 960 */

@media only screen and (min-height: 800px) and (max-height: 960px) {
	.homeContainer {
		grid-template-rows: 5% 10% 85%;
	}

	.homeContainer .switch {
		margin-right: 11px;
		width: 53px;
	}

	.homeContainer .switch span {
		width: 22px;
		height: 22px;
		line-height: 22px;
	}

	.homeContainer .switch::after {
		width: 26px;
		height: 26px;
		top: -1.5px;
		left: -1px;
	}

	.homeContainer .arriba .contenedorLogin {
		font-size: 40px;
	}

	.homeContainer .indices {
		align-items: flex-start;
	}

	.homeContainer .contenido .Titulado .titulo {
		font-size: 126px;
	}

	.homeContainer .contenido .Titulado .subTitulo {
		font-size: 18px;
		margin-left: 63%;
		margin-top: 10px;
	}

	.homeContainer .contenido .baraBusqueda {
		width: 560px;
		height: 36px;
	}

	.homeContainer .contenido .baraBusqueda .input {
		font-size: 20px;
	}

	.homeContainer .contenido .baraBusqueda .input::placeholder {
		font-size: 20px;
	}

	.homeContainer .contenido .widgetsAcciones {
		width: 784px;
		margin-top: 24px;
	}

	.homeContainer .contenido .widgetsAcciones .widget {
		height: 168px;
		width: 176px;
		border-radius: 30px;
		padding: 0px 16px;
		margin: 8px;
	}

	/* Animacion de cajas en hover general */

	.homeContainer .contenido .widgetsAcciones .widget:hover {
		transform: scale(1.1);
		margin: 10px;
	}

	.homeContainer .widget .identidad .ticker {
		font-size: 20px;
	}

	.homeContainer .widget .identidad .nombre {
		font-size: 8px;
	}

	.homeContainer .widget .precios .precio {
		font-size: 16px;
	}

	.homeContainer .widget .precios .cambio {
		font-size: 14px;
	}

	.homeContainer .widget .precios .cambio .cambioPorcentual {
		margin-left: 2.4px;
	}

	.homeContainer .widget .contenedorImagen .imagen {
		width: 80%;
	}

	.homeContainer .widget .contenedorIndicador .contenedorGraficaWidget {
		width: 90%;
	}

	.homeContainer .widget .contenedorIndicador .puntuacion {
		font-size: 16px;
	}
}

/* Modificacion para compus abjao de una altura de 800 */

@media only screen and (max-height: 800px) {
	.homeContainer {
		grid-template-rows: 5% 11% 86%;
	}

	.homeContainer .switch {
		margin-right: 10px;
		width: 48px;
	}

	.homeContainer .switch span {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	.homeContainer .switch::after {
		width: 22px;
		height: 22px;
		top: -1px;
		left: -1px;
	}

	.homeContainer .arriba .contenedorLogin {
		font-size: 32px;
	}

	.homeContainer .indices {
		align-items: flex-start;
	}

	.homeContainer .contenido .Titulado .titulo {
		font-size: 100px;
	}

	.homeContainer .contenido .Titulado .subTitulo {
		font-size: 14px;
		margin-left: 60%;
		margin-top: 20px;
	}

	.homeContainer .contenido .baraBusqueda {
		width: 448px;
		height: 29px;
	}

	.homeContainer .contenido .baraBusqueda .input {
		font-size: 16px;
	}

	.homeContainer .contenido .baraBusqueda .input::placeholder {
		font-size: 16px;
	}

	.homeContainer .contenido .widgetsAcciones {
		width: 627px;
		margin-top: 19px;
	}

	.homeContainer .contenido .widgetsAcciones .widget {
		height: 134px;
		width: 141px;
		padding: 0px 13px;
		margin: 6px;
		border-radius: 24px;
	}

	/* Animacion de cajas en hover general */

	.homeContainer .contenido .widgetsAcciones .widget:hover {
		transform: scale(1.09);
		margin: 10px;
	}

	.homeContainer .widget .identidad .ticker {
		font-size: 16px;
	}

	.homeContainer .widget .identidad .nombre {
		font-size: 6px;
	}

	.homeContainer .widget .precios .precio {
		font-size: 13px;
	}

	.homeContainer .widget .precios .cambio {
		font-size: 11px;
	}

	.homeContainer .widget .precios .cambio .cambioPorcentual {
		margin-left: 1.92px;
	}

	.homeContainer .widget .contenedorImagen .imagen {
		width: 80%;
	}

	.homeContainer .widget .contenedorIndicador .contenedorGraficaWidget {
		width: 90%;
	}

	.homeContainer .widget .contenedorIndicador .puntuacion {
		font-size: 13px;
	}
}

/* Diseño para el telefono/ Tablet----------------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
	.homeContainer {
		grid-template-rows: 5% 12% 83%;
	}

	.homeContainer .contenido {
		width: 100%;
	}

	.homeContainer .switch {
		border-radius: 1000px;
		margin-right: 10px;
		width: 48px;
	}

	.homeContainer .switch span {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	.homeContainer .switch::after {
		width: 22px;
		height: 22px;
		top: -1px;
		left: -1px;
		border-radius: 100px;
	}

	.homeContainer .arriba .contenedorLogin {
		font-size: 36px;
	}

	/* Modificar log in boton para altura inferior a 750px */

	@media only screen and (max-height: 750px) {
		.homeContainer .switch {
			margin-right: 8px;
			width: 43px;
		}

		.homeContainer .switch span {
			width: 17px;
			height: 17px;
			line-height: 17px;
		}

		.homeContainer .switch::after {
			width: 18px;
			height: 18px;
			top: -0.85px;
			left: -0.85px;
		}

		.homeContainer .arriba .contenedorLogin {
			font-size: 26px;
		}
	}

	.homeContainer .indices {
		align-items: flex-start;
	}

	.indices::after,
	.indices::before {
		width: 100px;
	}

	.homeContainer .contenido .Titulado .titulo {
		font-size: 75px;
	}

	.homeContainer .contenido .Titulado .subTitulo {
		font-size: 12.5px;
		top: -25px;
	}

	.homeContainer .contenido .baraBusqueda {
		width: 75%;
		max-width: 500px;
		height: 35px;
		border-radius: 20px;
	}

	.homeContainer .contenido .baraBusquedaactivada {
		border-radius: 20px 20px 0px 0px;
	}

	.homeContainer .contenido .baraBusqueda .input {
		font-size: 17px;
		font-weight: 900;
		width: 80%;
	}

	.homeContainer .contenido .baraBusqueda .input::placeholder {
		font-size: 17px;
	}

	.homeContainer .contenido .widgetsAcciones {
		width: 100%;
		max-width: 600px;
		margin-top: 20px;
		overflow: auto;
	}

	::-webkit-scrollbar {
		width: 0px;
	}

	.homeContainer .contenido .widgetsAcciones .widget {
		height: 150px;
		width: 90%;
		border-radius: 30px;
		padding: 10px 20px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		/* background-color: rgb(255, 255, 255); */
		display: grid;
		grid-template-rows: 30% 70%;
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'identidad   logo'
			'puntuacion      puntuacion';
		transition: 1s;
		background-color: rgb(255, 255, 255);
		margin: 10px 5px;
	}

	/* Animacion de cajas en hover general */

	.homeContainer .contenido .widgetsAcciones .widget:hover {
		transform: scale(1.07);
		margin: 5px 0px;
	}

	.homeContainer .widget .identidad {
		grid-area: identidad;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: flex-end;
	}

	.homeContainer .widget .identidad .ticker {
		font-weight: 1000;
		color: #171010;
		font-size: 22px;
		line-height: 1;
	}

	.homeContainer .widget .identidad .nombre {
		color: #423f3e;
		font-size: 10px;
		margin-left: 5px;
		vertical-align: text-bottom;
		line-height: 1.5;
	}

	.homeContainer .widget .precios {
		grid-area: puntuacion;
		align-self: flex-end;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-content: center;
		width: 35%;
		height: 50%;
	}

	.homeContainer .widget .precios .precio {
		color: #232323;
		font-size: 18px;
		margin-right: 5px;
		line-height: 1;
	}

	.homeContainer .widget .precios .cambio {
		display: flex;
		flex-flow: row wrap;
		font-size: 14px;
		color: rgb(73, 199, 77);
		line-height: 1.3;
	}

	.homeContainer .widget .precios .cambio .cambioPorcentual {
		margin-left: 3px;
	}

	.homeContainer .widget .contenedorImagen {
		grid-area: logo;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.homeContainer .widget .contenedorImagen .imagen {
		height: 90%;
		object-fit: contain;
		width: auto;
	}

	.homeContainer .widget .contenedorIndicador {
		grid-area: puntuacion;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		align-items: flex-end;
	}

	.homeContainer .widget .contenedorIndicador .contenedorGraficaWidget {
		position: relative;
		width: 85px;
		left: 30px;
	}

	.homeContainer .widget .contenedorIndicador .puntuacion {
		position: relative;
		right: 30px;
		bottom: 30px;
		font-size: 20px;
	}
}





