@font-face {
	font-family: 'Poppins';
	src: url('../../../paquetesDescargados/Poppins/Poppins-Light.ttf') format('woff2');
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

a {
	text-decoration: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.homeContainer {
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 70px 30px;
	grid-template-areas:
		'arriba'
		'paginas'
		'contenido';
}

/* Seccion arrriba----------------------------------------------------------------------------------------------------------- */
.arriba {
	width: 99%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-area: arriba;
    position: fixed;
	top: 0;
	z-index: 1000;
}

.homeContainer .contenedorLogo {
	height: 60px;
}

.homeContainer .logo::selection {
	background-color: rgb(200, 200, 200);
}

.homeContainer .arriba .logo {
	height: 100%;
}

/* Barra de busqueda */
.homeContainer   .baraBusqueda {
	position: relative;
	width: 700px;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(100, 100, 100, 0.1);
}

.homeContainer   .baraBusquedaactivada {
	border-radius: 20px 20px 0px 0px;
	box-shadow: none;
}

.homeContainer   .baraBusqueda .lupa {
	height: 100%;
}

.homeContainer .baraBusqueda .input {
	outline: none;
	border: none;
	height: 80%;
	width: 90%;
	font-size: 25px;
	font-weight: normal;
	margin-left: 2px;
	background-color: inherit;
}

.homeContainer  .baraBusqueda .input::placeholder {
	text-transform: none;
	font-size: 25px;
	font-weight: normal;
}

.homeContainer .arriba .contenedorBotonLogin {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.homeContainer .switch {
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	outline: none;
	margin-right: 20px;
	width: 60px;
	transition: var(--transition) ease all;
}

.homeContainer .switch span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	background: none;
}

.homeContainer .switch .sol {
	color: #000;
	margin-top: 4px;
}

.homeContainer .switch .luna {
	color: #fff;
	margin-top: 4px;
}

.homeContainer .switch::after {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	position: absolute;
	background: #dadada;
	top: -0.1px;
	left: -1px;
	right: unset;
	border-radius: 100px;
	transition: var(--transition) ease all;
}

.homeContainer .switch.active {
	background: rgb(255, 255, 255);
}

.homeContainer .switch.active::after {
	right: 0;
	left: unset;
}

.homeContainer .arriba .fa-user-circle {
	font-size: 40px;
	color: #343d5b;
	transition: var(--transition) ease all;
}

/* seccion navigacion------------------------------------------------------------------- */
.paginas {
	grid-area: paginas;
	display: flex;
	flex-flow: row;
	align-self: flex-end;
	width: 99%;
	position: relative;
}

.paginas .elementoNav {
	background-color: #dbdbde;
	font-size: 18px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	width: 100%;
	text-decoration: none;
}

.paginas .elementoNav:hover {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
	cursor: pointer;
}


.owners {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
}

/* Contenido */
.contenido {
	width: 90%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:
		'identidad                                         identidad   '
		'summaryBoxes                                      summaryBoxes'
		'contenedorGraficaInstitutions                     contenedorGraficaFunds'
		'contenedorGraficaInstitutionsChanges              contenedorGraficaFundsChanges'
		'contenedorInsiderTransactions                     contenedorInsiderTransactions';
	justify-items: center;
	position: absolute;
	top: 110px;
}


/* Indentidad------------ */
.identidad {
	grid-area: identidad;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.identidad .contenedorLogoEmpresa {
	height: 100%;
	align-items: flex-end;
}

.contenedorLogoEmpresa .logo {
	height: 100%;
}

.identidad .nombreEmpresa {
	font-size: 28px;
	margin-left: 20px;
}
.identidad .tickerEmpresa {
	font-size: 28px;
	margin-left: 5px;
}


/* Cajas------------- */
.summaryBoxes {
	grid-area: summaryBoxes;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 90%;
    justify-content: flex-start;
}

.boxSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 0px 0 rgb(0 0 0 / 20%);
	border: 0.3px solid  rgb(220, 220, 220);
    border-radius: 15px;
    width: 290px;
    text-align: center;
    min-width: 50px;
    padding: 5px 5px;
	margin-right: 10px;
}

.valorBoxSummary {
    font-size: 20px;
}

.infoExtraBoxSummary {
    font-size: 14px;
    margin-top: -6px;
    color: #545353;
}

.queEsBoxSummary {
    font-size: 16px;
    color: #383737;
}

/* Graficas */

.contenedorConGrafica {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
}

.tituloGrafica {
	font-size: 18px;
	text-align: center;
	color: #545353;
}

.contenedorGraficaInstitutions {
	grid-area: contenedorGraficaInstitutions;
}

.contenedorGraficaFunds {
	grid-area: contenedorGraficaFunds;
}

.contenedorGraficaInstitutionsChanges {
	grid-area: contenedorGraficaInstitutionsChanges;
}

.contenedorGraficaFundsChanges {
	grid-area: contenedorGraficaFundsChanges ;
}

.contenedorCanvasGrafica {
	margin-top: 12px;
	width: 50%;
}
.contenedorCanvasGraficaCambio {
	margin-top: 12px;
	width: 100%;
	margin-bottom: 80px;
}

/* INsider transactions */

.contenedorInsiderTransactions {
	grid-area: contenedorInsiderTransactions;
	display: flex;
	font-size: 35px;
	text-align: center;
	color: #393939;
	font-weight: bolder;
	flex-direction: column;
	width: 100%;
	margin-bottom: 80px;
}

.contenedorGraficasInsiderTransaction {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 20% 60%;
	grid-template-areas: 'donaCompravsVenta      graficaTransaciones'
					     'avragePrice            graficaTransaciones' 
						 'avragePrice            graficaTransaciones';
	justify-content: space-around;
	align-items: center;
}

.contenedorCanvasGraficaInsiderTransactionVentaVsCompra {
	grid-area: donaCompravsVenta;
	width: 90%;
}

.contenedorCanvasGraficaInsiderTransaction {
	grid-area: graficaTransaciones;
	width: 100%;
	min-width: 600px;
}


/* Tabla avrage price */
.avragePriceTable {
	grid-area: avragePrice;
}

table {
	border-collapse: collapse;
	font-size: 14px;
}

table th,  table td{
	border: 1px solid rgb(197, 197, 197);
	width: 50%;
}


table tr .tituloTabla {
	text-align: center;
	font-weight: 700;
	font-size: 14px;
}

table tr td {
	text-align: right;
	font-weight: 600;
	padding-right: 5px;
	font-size: 14px;
}

table tr th {
	text-align: left;
	font-weight: 300;
	padding-left: 5px;
	font-size: 14px;
}

table tr:nth-child(odd) {
	background-color: #ddd;
} 

/* Table insiders transaction */
.contenedorTablaInsider {
	margin-top: 50px;
	height: 300px;
	margin-bottom: 10px;
	overflow: auto;
	padding: 20px 0px;
}

.insiderTrasctionsTable {
	table-layout: fixed ; 
	width: 100%;
	height: 200px;
	overflow: auto;
}

.insiderTrasctionsTable tr th {
	text-align: center;
	font-weight: bold;
}

.insiderTrasctionsTable tr td {
	text-align: right;
}

.insiderTrasctionsTable tr th:first-child td{
	color: red;
}


@media (max-width: 1000px) {
	/* Seccion arrriba----------------------------------------------------------------------------------------------------------- */
	.arriba {
		width: 100%;
		margin-top: 15px;
		padding: 0px 10px;
	}

	.homeContainer .contenedorLogo {
		height: 35px;
	}


	/* Barra de busqueda */
	.homeContainer   .baraBusqueda {
		position: relative;
		width: 60%;
	}

	.homeContainer   .baraBusquedaactivada {
		border-radius: 20px 20px 0px 0px;
		box-shadow: none;
	}

	.homeContainer   .baraBusqueda .lupa {
		height: 80%;
	}

	.homeContainer .baraBusqueda .input {
		border: none;
		width: 80%;
		font-size: 14px;
		font-weight: normal;
		margin-left: 2px;
	}

	.homeContainer  .baraBusqueda .input::placeholder {
		text-transform: none;
		font-size: 14px;
		font-weight: normal;
	}

	.homeContainer .arriba .contenedorBotonLogin {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.homeContainer .switch {
		background: #343d5b;
		border-radius: 1000px;
		border: none;
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		outline: none;
		width: 35px;
		transition: var(--transition) ease all;
	}

	.homeContainer .switch span {
		width: 15px;
		height: 15px;
		line-height: 15px;
		display: block;
		background: none;
	}

	.homeContainer .switch .sol {
		color: #000;
		margin-top: 1px;
	}

	.homeContainer .switch .luna {
		color: #fff;
		margin-top: 1px;
	}

	.homeContainer .switch::after {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		background: #dadada;
		top: -0.1px;
		left: -1px;
		right: unset;
		border-radius: 100px;
		transition: var(--transition) ease all;
	}

	.homeContainer .switch.active {
		background: rgb(255, 255, 255);
	}

	.homeContainer .switch.active::after {
		right: 0;
		left: unset;
	}

	.homeContainer .arriba .fa-user-circle {
		font-size: 30px;
		color: #343d5b;
		transition: var(--transition) ease all;
	}

	.paginas {
		top: 10px;
		width: 85%;
		overflow: auto;
	}

	.paginas::-webkit-scrollbar {
		display: none;
	}
	
	.paginas .elementoNav {
		font-size: 14px;
		padding: 2px 5px;
		margin: 5px;	
		border-radius: 15px;
	}
}

@media (max-width: 900px) {
	/* Contenido */
	.contenido {
		width: 80%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'identidad                                         identidad   '
			'summaryBoxes                                      summaryBoxes'
			'contenedorGraficaInstitutions                     contenedorGraficaFunds'
			'contenedorGraficaInstitutionsChanges              contenedorGraficaInstitutionsChanges'
			'contenedorGraficaFundsChanges                     contenedorGraficaFundsChanges'
			'contenedorInsiderTransactions                     contenedorInsiderTransactions';
		justify-items: center;
		position: absolute;
		top: 110px;
	}


/* Indentidad------------ */
	.identidad .nombreEmpresa {
		font-size: 18px;
		margin-left: 20px;
	}
	.identidad .tickerEmpresa {
		font-size: 18px;
		margin-left: 5px;
	}


	/* Cajas------------- */
	.summaryBoxes {
		margin-top: 5px;
		width: 410px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.boxSummary {
		width: 200px;
		margin-top: 10px;
	}

	.queEsBoxSummary {
		font-size: 13px;
		color: #383737;
	}

	.valorBoxSummary {
		font-size: 14px;
	}

	.infoExtraBoxSummary {
		font-size: 14px;
		margin-top: -6px;
		color: #545353;
	}

	/* Graficas */
	.tituloGrafica {
		font-size: 14px;
	}

	.contenedorGraficaInstitutions {
		grid-area: contenedorGraficaInstitutions;
	}

	.contenedorGraficaFunds {
		grid-area: contenedorGraficaFunds;
	}

	.contenedorGraficaInstitutionsChanges {
		grid-area: contenedorGraficaInstitutionsChanges;
	}

	.contenedorGraficaFundsChanges  {
		grid-area: contenedorGraficaFundsChanges ;
	}

	.contenedorCanvasGrafica {
		margin-top: 12px;
		width: 70%;
	}
	.contenedorCanvasGraficaCambio {
		margin-top: 12px;
		width: 100%;
		margin-bottom: 80px;
	}

	/* Insider transactions */

	.contenedorInsiderTransactions {
		font-size: 18px;
	}

	.contenedorGraficasInsiderTransaction {
		margin-top: 20px;
		display: grid;
		grid-template-columns: 40% 60%;
		grid-template-areas:'donaCompravsVenta      avragePrice';
	}

	.contenedorCanvasGraficaInsiderTransactionVentaVsCompra {
		width: 85%;
	}

	.contenedorCanvasGraficaInsiderTransaction {
		display: none;
	}

	.contenedorCanvasGraficaInsiderTransactionVentaVsCompra .tituloGrafica {
		font-size: 14px;
	}


	/* Tabla avrage price */

	table tr .tituloTabla {
		font-size: 13px;
	}

	table tr td {
		font-size: 12px;
	}

	table tr th {
		font-size: 14px;
	}

	/* Table insiders transaction */
	.contenedorTablaInsider {
		padding: 0px 0px;
	}

	.insiderTrasctionsTable {
		table-layout: fixed ; 
		width: 100%;
		overflow: auto;
	}

	.insiderTrasctionsTable tr th {
		text-align: center;
		font-weight: bold;
		font-size: 10px;
	}

	.insiderTrasctionsTable tr td {
		text-align: right;
		font-size: 10px;
	}

	.insiderTrasctionsTable tr th:first-child td{
		color: red;
	}
}


