@font-face {
	font-family: 'Poppins';
	src: url('../../../paquetesDescargados/Poppins/Poppins-Light.ttf') format('woff2');
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins';
}

a {
	text-decoration: none;
}

.homeContainer {
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100%;
	grid-template-rows: 70px 30px;
	grid-template-areas:
		'arriba'
		'paginas'
		'contenido';
	transition: var(--transition) ease all;
}

/* Seccion arrriba----------------------------------------------------------------------------------------------------------- */
.arriba {
	width: 99%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-area: arriba;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.homeContainer .contenedorLogo {
	height: 60px;
}

.homeContainer .logo::selection {
	background-color: rgb(200, 200, 200);
}

.homeContainer .arriba .logo {
	height: 100%;
}

/* Barra de busqueda */
.homeContainer   .baraBusqueda {
	position: relative;
	width: 700px;
	height: 45px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(100, 100, 100, 0.1);
}

.homeContainer   .baraBusquedaactivada {
	border-radius: 20px 20px 0px 0px;
	box-shadow: none;
}

.homeContainer   .baraBusqueda .lupa {
	height: 100%;
}

.homeContainer .baraBusqueda .input {
	outline: none;
	border: none;
	height: 80%;
	width: 90%;
	font-size: 25px;
	font-weight: normal;
	margin-left: 2px;
	background-color: inherit;
}

.homeContainer  .baraBusqueda .input::placeholder {
	text-transform: none;
	font-size: 25px;
	font-weight: normal;
}

.homeContainer .arriba .contenedorBotonLogin {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.homeContainer .switch {
	background: #343d5b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	width: 60px;
	transition: var(--transition) ease all;
}

.homeContainer .switch span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	background: none;
}

.homeContainer .switch .sol {
	color: #000;
	margin-top: 4px;
}

.homeContainer .switch .luna {
	color: #fff;
	margin-top: 4px;
}

.homeContainer .switch::after {
	content: '';
	display: block;
	width: 27px;
	height: 27px;
	position: absolute;
	background: #dadada;
	top: -0.1px;
	left: -1px;
	right: unset;
	border-radius: 100px;
	transition: var(--transition) ease all;
}

.homeContainer .switch.active {
	background: rgb(255, 255, 255);
}

.homeContainer .switch.active::after {
	right: 0;
	left: unset;
}

.homeContainer .arriba .fa-user-circle {
	font-size: 40px;
	color: #343d5b;
	transition: var(--transition) ease all;
}

/* seccion navigacion------------------------------------------------------------------- */
.paginas {
	grid-area: paginas;
	display: flex;
	flex-flow: row;
	align-self: flex-end;
	width: 99%;
	position: relative;
}

.paginas .elementoNav {
	background-color: #dbdbde;
	font-size: 18px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
	color: rgb(0, 0, 0);
	width: 100%;
	text-decoration: none;
}

.paginas .elementoNav:hover {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
	cursor: pointer;
}

.profile {
	background-color: #eae8e8 !important;
	border: 1px solid rgb(124, 124, 124);
}

/* Contenido--------------------- */
.contenido {
	width: 90%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: 'logoYEspecificaciones   contenedortabalOfficers'
						 'descripcionNegocio      descripcionNegocio'
						 'contenedorTablaCotiza   contenedorTablaCotiza';
	position: absolute;
	top: 150px; 
}


/* Logo y especificaciones */
.logoYEspecificaciones {
	grid-area: logoYEspecificaciones;
	width: 100%;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
						'logo        		   infoAlLado'
						'infoAbajo   		   infoAbajo'
						'tablaCotiza tablaCotiza';
}

/* Logo */
.logoProfile {
	grid-area: logo;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.logoProfile img {
	width: 60%;
}

/* Info al lado */
.especificasionesAlLado {
	grid-area: infoAlLado;
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	font-size: 14px;
	color: #000;
}

.especificasionesAlLado {
	margin-top: 1px;
}

.stockNameAlLado {
	margin-bottom: 15px;
	font-size: 28px;
	color: #000;
}

.indicadorAllado {
	color: rgb(50, 50, 50);
	display: flex;
	align-items: baseline;
}

.indicadorAllado h3, .indicadorAllado a{
	margin-left: 5px;
}


/* Info Abajo */
.especificacionesAbajo {
	grid-area: infoAbajo;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 25px;
}

.tablaEspecificacionesAbajo {
	display: flex;
	width: 100%;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}

.tablaEspecificacionesAbajo div:first-child {
	margin-left: 0px !important;
}

.tablaEspecificacionesAbajo div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	flex-wrap: nowrap;
	margin-left: 15px;
	margin-top: 10px;
	width: 110px;
	border-radius: 10px;
	border: 1px solid rgb(222, 219, 219);
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


.tituloCajaAbajo {
	font-size: 14px;
	color: rgb(47, 189, 189);
}

.valorCajaAbajo {
	font-weight: 900;
	font-size: 13px;
}

/* Tabla Officers y cotiza*/
.contenedortabalOfficers {
	grid-area: contenedortabalOfficers;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 300px;
	overflow: auto;
}

.contenedorTablaCotiza {
	grid-area: contenedorTablaCotiza;
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}


.tituloTabla {
	font-size: 18px;
	position: sticky; 
    top: 0; 
    background-color: #f2f2f2; 
	width: 90%;
    z-index: 1;
	text-align: center;
}

.contenedorSoloTabla {
	display: flex;
	justify-content: center;
	height: 200px;
	overflow: auto;
	width: 100%;
}

.contenedorSoloTabla table {
	width: 100%;
}



/* Ajustes generales tablas -------------------------------*/
.contenedorTabla table {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	width: 90%;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 14px;
}

.contenedorTabla table th,  .contenedorTabla table td{
	border: 1px solid rgb(197, 197, 197);
}


.contenedorTabla table tr td {
	text-align: left;
	font-weight: 300;
	padding-left: 5px;
}

.contenedorTabla table tr th {
	text-align: center;
	font-weight: 600;
	width: 5%;
}

.contenedorTabla table tr:nth-child(odd) {
	background-color: #ddd;
}


/* Descripcion de negocio */
.descripcionNegocio {
	grid-area: descripcionNegocio;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px 0px 30px 0px;
	margin-top: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	margin-bottom: 30px;
}

.tituloDescripcion {
	font-size: 18px;
}

.textoDescripcion {
	margin-top: 10px;
	width: 90%;
	font-size: 14px;
}

/* Responsive para patallas abajo de 1 000px */
@media (max-width: 1000px) {
	/* Seccion arrriba----------------------------------------------------------------------------------------------------------- */
	.arriba {
		width: 100%;
		margin-top: 15px;
		padding: 0px 10px;
	}

	.homeContainer .contenedorLogo {
		height: 35px;
	}


	/* Barra de busqueda */
	.homeContainer   .baraBusqueda {
		position: relative;
		width: 60%;
	}

	.homeContainer   .baraBusquedaactivada {
		border-radius: 20px 20px 0px 0px;
		box-shadow: none;
	}

	.homeContainer   .baraBusqueda .lupa {
		height: 80%;
	}

	.homeContainer .baraBusqueda .input {
		border: none;
		width: 80%;
		font-size: 14px;
		font-weight: normal;
		margin-left: 2px;
	}

	.homeContainer  .baraBusqueda .input::placeholder {
		text-transform: none;
		font-size: 14px;
		font-weight: normal;
	}

	.homeContainer .arriba .contenedorBotonLogin {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.homeContainer .switch {
		background: #343d5b;
		border-radius: 1000px;
		border: none;
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		outline: none;
		width: 35px;
		transition: var(--transition) ease all;
	}

	.homeContainer .switch span {
		width: 15px;
		height: 15px;
		line-height: 15px;
		display: block;
		background: none;
	}

	.homeContainer .switch .sol {
		color: #000;
		margin-top: 1px;
	}

	.homeContainer .switch .luna {
		color: #fff;
		margin-top: 1px;
	}

	.homeContainer .switch::after {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		background: #dadada;
		top: -0.1px;
		left: -1px;
		right: unset;
		border-radius: 100px;
		transition: var(--transition) ease all;
	}

	.homeContainer .switch.active {
		background: rgb(255, 255, 255);
	}

	.homeContainer .switch.active::after {
		right: 0;
		left: unset;
	}

	.homeContainer .arriba .fa-user-circle {
		font-size: 30px;
		color: #343d5b;
		transition: var(--transition) ease all;
	}

	.paginas {
		top: 10px;
		width: 85%;
		overflow: auto;
	}

	.paginas::-webkit-scrollbar {
		display: none;
	}
	
	.paginas .elementoNav {
		font-size: 14px;
		padding: 2px 5px;
		margin: 5px;	
		border-radius: 15px;
	}

	/* Contenido--------------------- */
	.contenido {
		width: 100%;
		padding: 0% 5% 0% 5%;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-areas:'logoYEspecificaciones    logoYEspecificaciones'
							'descripcionNegocio       descripcionNegocio'
							'contenedortabalOfficers  contenedortabalOfficers'
							'contenedorTablaCotiza    contenedorTablaCotiza';
		position: absolute;
		top: 120px; 
	}


	/* Logo y especificaciones */
	.logoYEspecificaciones {
		grid-area: logoYEspecificaciones;
		width: 100%;
		display: grid;
		grid-template-columns: 30% 70%;
		grid-template-areas: 
							'logo        		   logo'
							'infoAlLado            infoAlLado'
							'infoAbajo   		   infoAbajo'
							'tablaCotiza tablaCotiza';
	}
	/* Logo */
	.logoProfile {
		grid-area: logo;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
	}

	.logoProfile img {
		height: 100%;
		width: auto;
	}

	.especificasionesAlLado {
		padding: 0px;
	}

	.stockNameAlLado {
		text-align: center;
	}

	.indicadorAllado {
		margin-left: 20px;
	}
}